*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family:'popins',sans-serif;
} 
/* navBar starts her e*/
*{
    font-family: 'Poppins', sans-serif;
}
.navbar
{
    padding:0;
}
.logo{
    position: relative ;
    left: 1%;
}
.bgcolor{
    background-color: #00c9b5 !important;
}
.navbar-brand{
    /* margin-left: 0.5rem; */
    margin-left: 5%;
}
.navbar{
    font-weight: bold;
}
.navlinks{
    margin-left: -21%;
    margin-right: 0%;
}
.nav-link{
    margin: 0px 1rem;
}
.nav-search{    
    margin-left:170px;
}
.search-btn{
    border:none;
}
.search-logo{
    width:20px;
    height:20px;
}
.header-login{
    margin-left: 40px;
    margin-right: 0;
}
/* navBar ends here */

.create_case-box{
    margin:2% 5%;
}
.create_case-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 2%;

}  