
/* navBar starts her */
*{
    font-family: 'Poppins', sans-serif;
}
.bgcolor{
    background-color: #00c9b5 !important;
}
.navbar-brand{
    margin-left: 0.5rem;
}
.navbar{
    font-weight: bold;
}
.navlinks{
    margin-left: 5%;
    margin-right: 8%;
}
.nav-link{
    margin: 0px 1rem;
}
.search-btn{
    border:none;
}
.search-logo{
    width:20px;
    height:20px;
}
.header-login{
    margin-left: 40px;
    margin-right: 0;
}
/* navBar ends here */
