<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="/static/state_city.js"></script>
    <script src="/static/crime_category.js"></script>
    <link href="/static/filter.css" rel="stylesheet">


</head>

<body>

    <!-- ==================================================navBar starts===================================================== -->  
<nav class="navbar bgcolor navbar-expand-lg bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">
          <img src="/static/img/logo.png" width="8%" height="8%" class="logo">       
          BharatBhashya</a>            
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navlinks" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">HOME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('converter_understanding')}}">CONVERTER</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('about_us')}}">ABOUT US</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('contact_us')}}">CONTACT US</a>
      </li>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn btn-outline-dark header-login" href="{{url_for('login')}}">Login</a>
      </div>
      </ul>

      <!-- <form class="d-flex" role="search">                                                                                               (................ This code is for Search-Bar & Search-Button................ )                                                                 
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light search-btn" type="submit"><img src="img/magnifying-glass.png" class="search-logo"></button>
      </form> -->

  </div>
</div>
</nav>

    <div class="create_case-box">
        <div class="create_case-title">GENERAL CASES</div>
        <!-- <form class="row g-3">
      <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Unique FIR number</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i class="material-icons">&#xe242;</i></span>
          <input type="text" style="height:45px;" class="form-control" id="validationCustomUsername"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputAddress" class="form-label">Case Name</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf0f6;</i></span>
          <input type="text" style="height:45px;" class="form-control" id="validationCustomUsername"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputAddress" class="form-label">Incharge of Case</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf2c2;</i></span>
          <input type="text" style="height:45px;" class="form-control" id="validationCustomUsername"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">State</label>
        <div class="input-group has-validation" id="replace">
          <span class="input-group-text" id="inputGroupPrepend"><i class="material-icons">&#xe0c8;</i></span>
          <select id="state" style="height:45px;" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">City</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i class="material-icons">&#xe0c8;</i></span>
          <span id="city-code"></span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Area</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i class="material-icons">&#xe7f1;</i></span>
          <input type="text" style="height:45px;" class="form-control" id="validationCustomUsername"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">Date Of Crime</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf073;</i></span>
          <input type="date" style="height:45px;" class="form-control" id="validationCustomUsername"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">Suspects</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf0c0;</i></span>
          <input type="text" style="height:45px;" class="form-control" id="validationCustomUsername"
            placeholder="Suspect 1, Suspect 2 " aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Category</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf0b0;</i></span>
          <select id="category" style="height:45px;" class="form-select">
            <option selected>Choose...</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Sub Category</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf0b0;</i></span>
          <select id="subcategory-code" style="height:45px;" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Keywords</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf02c;</i></span>
          <select id="inputState" class="form-select selectpicker" multiple data-live-search="true">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Other Keywords</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend"><i style="font-size:24px" class="fa">&#xf02c;</i></span>
          <input type="text" style="height:52px;" class="form-control" id="validationCustomUsername"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Summary</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
         <label for="inputPassword4" class="form-label">Summary</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>  
      </div>
    </form> -->

        <div class="row">
            <div class="col-md-3">
                <div class="filter-box">
                    <div class="filter-title"><i style="font-size:24px" class="fa">&#xf0b0;</i>&nbsp;&nbsp;Filter</div>
                    <div class="filter-item">
                        <label for="inputPassword4" class="form-label">Crime Category</label>
                        <div class="input-group has-validation">
                            <select id="category" style="height:45px;" class="form-select">
                              <option selected>Choose...</option>
                            </select>
                          </div>
                    </div>
                    <div class="filter-item">
                        <label for="inputPassword4" class="form-label">Crime Sub Category</label>
                        <div class="input-group has-validation">
                            <select id="subcategory-code" style="height:45px;" class="form-select">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                    </div>
                    <div class="filter-item">
                        <label for="inputPassword4" class="form-label">State</label>
                        <div class="input-group has-validation" id="replace">
                            <select id="state" style="height:45px;" class="form-select">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                    </div>
                    <div class="filter-item">
                        <label for="inputPassword4" class="form-label">City</label>
                        <div class="input-group has-validation">
                            <span id="city-code"></span>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="row">
                      <div class="col-md-8"> <i style="font-size:24px;" class="fa">&#xf115;</i> First Case</div>
                      <div class="col-md-4" style="position:absolute; right:0;"><button class="btn btn-outline-primary">Reuqested</button></div>
                    </div>
                  </h5>
                  <div class="card-text">
                    <div class="row">
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf041;</i> Ahmedabad</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf073;</i> 21/08/2022</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf0ca;</i> Street Crime</p></div>
                      <div class="col-12" style="text-align:center;">
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="row">
                      <div class="col-md-8"><i style="font-size:24px;" class="fa">&#xf115;</i> First Case</div>
                      <div class="col-md-4" style="position:absolute; right:0;"><button class="btn btn-outline-primary">Reuqested</button></div>
                    </div>
                  </h5>
                  <div class="card-text">
                    <div class="row">
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf041;</i> Ahmedabad</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf073;</i> 21/08/2022</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf0ca;</i> Street Crime</p></div>
                      <div class="col-12" style="text-align:center;">
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="row">
                      <div class="col-md-8"> <i style="font-size:24px;" class="fa">&#xf115;</i> First Case</div>
                      <div class="col-md-4" style="position:absolute; right:0;"><button class="btn btn-outline-primary">Reuqested</button></div>
                    </div>
                  </h5>
                  <div class="card-text">
                    <div class="row">
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf041;</i> Ahmedabad</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf073;</i> 21/08/2022</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf0ca;</i> Street Crime</p></div>
                      <div class="col-12" style="text-align:center;">
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="row">
                      <div class="col-md-8"> <i style="font-size:24px;" class="fa">&#xf115;</i> First Case</div>
                      <div class="col-md-4" style="position:absolute; right:0;"><button class="btn btn-outline-primary">Reuqested</button></div>
                    </div>
                  </h5>
                  <div class="card-text">
                    <div class="row">
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf041;</i> Ahmedabad</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf073;</i> 21/08/2022</p></div>
                      <div class="col-md-4"><p><i style="font-size:24px" class="fa">&#xf0ca;</i> Street Crime</p></div>
                      <div class="col-12" style="text-align:center;">
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="text-align:center;">
                <nav aria-label="Page navigation example" >
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </div>
    </div>
    <script>
        let user_state_code = "AP";

        (function () {
            let state_list = state_city['state'];
            let city_list = state_city['city'];

            let option = '';

            for (let state_code in state_list) {
                let selected = (state_code == user_state_code) ? 'selected' : '';
                option += '<option value="' + state_code + '"' + selected + ' > ' + state_list[state_code] + '</option>';
            }

            document.getElementById('state').innerHTML = option;

            let text_box = '<input type="text" class="input-text" id="city">';
            let city_code_id = document.getElementById("city-code");


            function create_city_dropdown() {
                let state_code = document.getElementById("state").value;

                let city = city_list[state_code];

                if (!city) {
                    city_code_id.innerHTML = text_box;
                    return;
                }

                let option = '';
                if (city.length > 0) {
                    option = '<select id="city" style="height:45px;width:142%;" class="form-select">\n';
                    for (let i = 0; i < city.length; i++) {
                        option += '<option value = "' + city[i].code + ' ">' + city[i].name + '</option>';
                    }
                    option += '</select>';
                    console.log(option);
                    console.log(city_code_id);
                }
                else {
                    option = text_box;
                }
                city_code_id.innerHTML = option;
            }
            const state_select = document.getElementById('state');
            state_select.addEventListener('change', create_city_dropdown);

            create_city_dropdown();
        })();

        let user_category_code = "DC";

        (function () {
            let category_list = crime_category['category'];
            let subcategory_list = crime_category['subcategory'];

            let option = '';

            for (let category_code in category_list) {
                let selected = (category_code == user_category_code) ? 'selected' : '';
                option += '<option value="' + category_code + '"' + selected + ' > ' + category_list[category_code] + '</option>';
            }

            document.getElementById('category').innerHTML = option;

            let text_box = '<input type="text" class="input-text" id="subcategory">';
            let subcategory_code_id = document.getElementById("subcategory-code");
            console.log(subcategory_code_id);

            function create_subcategory_dropdown() {
                let category_code = document.getElementById("category").value;
                console.log(category_code);
                let subcategory = subcategory_list[category_code];
                console.log(subcategory.length);

                if (!subcategory) {
                    subcategory_code_id.innerHTML = text_box;
                    return;
                }

                let option = '';
                if (subcategory.length > 0) {
                    option = '<select id="subcategory">\n';
                    for (let i = 0; i < subcategory.length; i++) {
                        option += '<option value = "' + subcategory[i].code + ' ">' + subcategory[i].name + '</option>';
                    }
                    option += '</select>';
                    console.log(option);
                    console.log(subcategory_code_id);
                }
                else {
                    option = text_box;
                }
                subcategory_code_id.innerHTML = option;
            }
            const category_select = document.getElementById('category');
            category_select.addEventListener('change', create_subcategory_dropdown);

            create_subcategory_dropdown();
        })();
    </script>

</body>

</html>