<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS only -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{% if not session.logged_in %}
<!-- <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script> -->
{% endif %}
<title>my home page</title>
<link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">

</head>

<body class="main">

        <nav class="navbar bgcolor navbar-expand-lg bg-light">
            <div class="container-fluid">            
            <a class="navbar-brand" href="{{url_for('home')}}"><img src="/static/img/logo.png" width="11%" height="11%" class="logo"> BharatBhashya</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navlinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('converter_understanding')}}">CONVERTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about_us')}}">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contact_us')}}">CONTACT US</a>
                </li>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-outline-dark header-login" href="{{url_for('login')}}">Login</a>
                </div>
                </ul>
        
                <div class="dropdown">
                    <div id="google_translate_element" style="margin-left: 50px;"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL},
                            'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>  

                <!-- <form class="d-flex" role="search">                                                                                               (................ This code is for Search-Bar & Search-Button................ )                                                                 
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light search-btn" type="submit"><img src="img/magnifying-glass.png" class="search-logo"></button>
                </form> -->
        
            </div>
        </div>
        </nav>
    <div class="home">
        <div class="hometitle">
            <div class="welcomeMsg">WE ARE CREATIVE</div>
            <a class="Btn"  href="{{url_for('login')}}">Get Started</a>
        </div>
        <div class="homeimg">
            <img src="/static/img/speech.png" width="500px" height="auto">
        </div>
      </div>


</body>
</html>



<!-- <div class="dropdown">
  
                    <div id="google_translate_element" style="margin-left: 50px">
                    
                    <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
                      
                        <div id=":0.targetLanguage" style="display: inline">
                        
                        <select class="goog-te-combo" aria-label="Language Translate Widget">
                          <option value="">Select Language</option>                          
                          <option value="bho">Bhojpuri</option>
                          
                          <option value="doi">Dogri</option>
                          
                          <option value="en">English</option>
                          
                          <option value="gu">Gujarati</option>
                          
                          <option value="hi">Hindi</option>
                          
                          <option value="kn">Kannada</option>
                          
                          <option value="gom">Konkani</option>
                          
                          <option value="mai">Maithili</option>
                          
                          <option value="ml">Malayalam</option>
                          
                          <option value="mr">Marathi</option>
                          <option value="mni-Mtei">Meiteilon (Manipuri)</option>
                          <option value="lus">Mizo</option>
                          
                          <option value="or">Odia (Oriya)</option>
                          
                          <option value="pa">Punjabi</option>
                          
                          <option value="sa">Sanskrit</option>
                          
                          <option value="sd">Sindhi</option>
                          
                          <option value="ta">Tamil</option>
                          
                          <option value="te">Telugu</option>
                          
                          <option value="ur">Urdu</option>                          
                        </select>
                      </div>
                      &nbsp;&nbsp;Powered by
                        <span style="white-space: nowrap">
                            <a  class="goog-logo-link"  href="https://translate.google.com"  target="_blank">
                                <img  src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png"  width="37px"  height="14px"  style="padding-right: 3px"  alt="Google Translate" />Translate
                            </a>
                        </span>
                    </div>
                  </div>
                </div> -->